*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
    font-weight: bold;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 25px;
}
#key{
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
    width: 500px;
}
.valueJs{
    text-align: center;
    padding: 25px;
    box-shadow: 0 0 10px rgb(181, 181, 181);
    width: 100px;
}
.pressed-key,#value {
    text-align: center;
    color: green;
  }